$black_color: (#000);
$white_color: (#fff);

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    transition: 0.4s ease-in-out;
    &:hover {
        transform: scale(1.1) translate(-50%, -50%);
    }
}

@mixin color_change($color){
    color: $color;
};

* {
    @include color_change($black_color)
}

@mixin transformation_0($time: 0.4s, $fade: ease-in-out, $vis: 0){
    transition-duration: $time;
    transition-timing-function: $fade;
    opacity: $vis;
}

@mixin transformation_1 {
    opacity: 1;
}

$dayTheme: (#EEEEEE);
$nightTheme: (#3B3B3B);

@mixin neumorphism($theme){
    background-color: $theme;
    box-shadow: -12px -12px 12px 0 rgba(255,255,255,1),
                12px 12px 12px 0 rgba(0,0,0,0.3);
}

footer{
    // @include transformation_0();
    // &:hover {
    //     @include transformation_1()
    // }
    height: 50vh;
};

.neumorphisum {
    width: 400px;
    height: 400px;
    @include neumorphism($dayTheme);
    @extend .centered, .transition;
}

